-# User sign up modal
- if flash[:show_modal]
  .modal-backdrop#modal-backdrop
  = render partial: "shared/modal_confirm",
           locals: { message_text: flash[:modal_message],
                     button_text: t("buttons.confirm"),
                     button_id: "confirm_button" }

-# Screen content
.main-top
  %h2#user_greeting.title-text= "Bem vindo(a), #{current_user.name}!"

  #expenses-section

    %h3#expenses-title.section-title-text= t('titles.pending_expenses_section')

    .regular-container

      #all-expenses-box.regular-box
        %h4#all-expenses-title.subtitle-text= t('titles.all_pending_expenses')
        %p#all-expenses-number.indicator-text= '15'

      #todays-expenses-box.regular-box
        %h4#todays-expenses-title.subtitle-text= t('titles.todays_pending_expenses')
        %p#todays-expenses-number.indicator-text= '3'

      #week-expenses-box.regular-box
        %h4#week-expenses-title.subtitle-text= t('titles.week_pending_expenses')
        %p#week-expenses-number.indicator-text= '7'