= form_with(model: @expense, local: true, html: { class: "container-form" }) do |f|
  = render "devise/shared/error_messages", resource: @expense
  
  = f.number_field :amount, step: 0.01, min: 0, autofocus: true, placeholder: t("fields.expenses.amount_spent"), class: "text-field", id: "amount"
  = f.date_field :date, placeholder: t("fields.expenses.date"), class: "text-field date-field", id: "date"

  .tags-container
    %input#tag_input{ type: "text", placeholder: t("fields.expenses.tags"), class: "text-field" }
    %button{ id: "add-tag", class: "btn btn-primary btn-sm", type:"button" }= t("buttons.add")
  #tags-box
    - if @expense.tags.present?
      - @expense.tags.each_with_index do |tag, index|
        %span.tag{ id: "tag_#{index + 1}" }= tag.description

  = f.text_field :location, placeholder: t("fields.expenses.location"), class: "text-field", id: "location"
  = f.text_area :description, rows: 10, placeholder: t("fields.expenses.description"), class: "text-area", id: "description"

  = render "files_upload", f: f
  
  = f.submit button, class: "btn btn-primary btn-full-width", id: "request_expense"

  #tags-list
    - if @expense.tags.present?
      - @expense.tags.each_with_index do |tag, index|
        = f.text_field "tag_names_#{index + 1}", name: 'expense[tag_names][]', type: 'hidden', value: tag.description

= render "files_preview"