= render "devise/shared/messages", resource: nil
.main-top

  .container-top
    = link_to request.referer, class: "btn btn-simple" do
      = image_tag "back.png", alt: "Voltar", width: 24, height: 24
    %h2.title-text= expenses_title(params, current_user)

  .container-tools
    = link_to "#", id: "filter-button", class: "btn btn-simple" do
      = image_tag("filter.png", alt: "Filtrar")

  = render 'filter'

  .container.container-primary.container-content-index
    - @expenses.each_with_index do |expense, expense_index|
      = link_to expense_path(expense), class: "no-link-layout" do
        .expense-box
          .expense-box-top
            %span{ class: "expense-status-index status-#{expense.status_class}" }= expense.full_status
            %p.expense-employee-name-index= expense.user.name
            %p.expense-date-index= formatted_expense_date(expense)
            %p.expense-amount-index= formatted_expense_amount(expense)
          %p.expense-description-index= expense.description
          .tags-container-view
            - expense.tags.each_with_index do |tag, tag_index|
              %span.tag{ id: "expense_tag_#{tag_index}" }= tag.description
